@media screen and (min-width:500px) {
    .content {
        padding: 60px 12% 120px 12%;
    }
}

.content .content-top {
    padding-bottom: 40px;
}

@media screen and (min-width:1050px) {
    .content .content-top {
        display: flex;
        justify-content: space-between;
    }
}

.content .content-top .image-slider {
    background-image: url(./images/5.product/men-1.jpg);
    background-repeat: no-repeat;
    height: 700px;
    background-position: center;
}

@media screen and (min-width:1050px) {
    .content .content-top .image-slider {
        width: 46%;
    }
}

.content .content-top .image-slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .content-top .image-slider span {
    padding: 7.9px 0;
    background-color: transparent;
    cursor: pointer;
}

.content .content-top .image-slider span:hover {
    background-color: #00c8c8;
}

.content .content-top .image-slider span:hover a {
    color: #ffffff;
}

.content .content-top .image-slider span a {
    font-size: 32px;
    color: #575153;
}

@media screen and (min-width:1050px) {
    .content .content-top .details {
        width: 52%;
    }
}

@media screen and (max-width:1050px) {
    .content .content-top .details {
        padding-top: 25px;
    }
}

.content .content-top .details h3 {
    padding-bottom: 20px;
    font-size: 18px;
    text-transform: uppercase;
}

.content .content-top .details .nav {
    padding-bottom: 20px;
}

@media screen and (min-width:500px) {
    .content .content-top .details .nav {
        display: flex;
        justify-content: start;
    }
    .content .content-top .details .nav .m-1 {
        display: flex;
        justify-content: start;
    }
}

.content .content-top .details .nav .stars {
    display: flex;
    justify-content: start;
}

.content .content-top .details .nav .stars .star.one,
.content .content-top .details .nav .stars .star.two,
.content .content-top .details .nav .stars .star.three,
.content .content-top .details .nav .stars .star.four {
    background-image: url(./images/5.product/star.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 8.5px;
    opacity: 0.5;
}

.content .content-top .details .nav .stars .star {
    background-image: url(./images/5.product/star-gr.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 8.5px;
    opacity: 0.5;
}

.content .content-top .details .nav .stars .star:hover {
    background-image: url(./images/5.product/star.png);
}

.content .content-top .details .nav a {
    color: #575153;
    font-size: 14px;
    margin-left: 5px;
}

.content .content-top .details .nav .stars a:hover,
.content .content-top .details .nav .add a:hover,
.content .content-top .details .nav .reviews a:hover {
    color: #00c8c8;
}

.content .content-top .details .nav .reviews a::after {
    content: '|';
    margin: 0px 5px;
    color: #575153;
}

.content .content-top .details .nav .add a::after {
    content: '|';
    margin: 0px 5px;
    color: #575153;
}

.content .content-top .details .nav m-2 {
    align-content: center;
}

.content .content-top .details .nav .sh {
    color: #575153;
    align-items: center;
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    padding-top: 1.5px;
}

.content .content-top .details .nav .sh a {
    background-position: center;
    padding: 8px;
    background-repeat: no-repeat;
}

.content .content-top .details .nav .sh .i {
    background-image: url(./images/5.product/insta.png);
    background-size: 80%;
}

.content .content-top .details .nav .sh .f {
    background-image: url(./images/5.product/f.png);
}

.content .content-top .details .nav .sh .t {
    background-image: url(./images/5.product/tw.png);
}

.content .content-top .details .nav .sh .p {
    background-image: url(./images/5.product/p.png);
}

.content .content-top .details .nav .sh .g {
    background-image: url(./images/5.product/g+.png);
}

.content .content-top .details .nav .sh .m {
    background-image: url(./images/5.product/mail.png);
}

.content .content-top .details .price {
    font-weight: lighter;
    font-size: 30px;
    color: #9a9a9a;
    padding-bottom: 15px;
}

.content .content-top .details .price .old {
    text-decoration: line-through;
    margin-right: 15px;
}

.content .content-top .details .price .lit {
    font-size: 16px;
    position: relative;
    bottom: 12px;
}

.content .content-top .details p {
    padding-bottom: 20px;
    color: #9a9a9a;
}

.content .content-top .details p .char {
    text-transform: uppercase;
    font-size: 13px;
    color: #575153;
}

.content .content-top .details .top-two p {
    font-size: 15px;
    color: #9a9a9a;
}

.content .content-top .details .top-two .p {
    padding-bottom: 10px;
}

@media screen and (min-width:500px) {
    .content .content-top .details .selects {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 15px;
    }
}

.content .content-top .details .selects h4 {
    text-transform: uppercase;
    font-size: 13px;
    color: #575153;
    padding-bottom: 15px;
}

.content .content-top .details select {
    outline: none;
    padding: 9px;
    border: 1.5px solid #e7e7e7;
    color: #c7c5c6;
}

@media screen and (min-width:500px) {
    .content .content-top .details .selects .sel-one {
        margin-right: 30px;
    }
    .content .content-top .details .selects .sel-one select {
        width: 175px;
    }
    .content .content-top .details .selects .sel-two select {
        width: 170px;
    }
    .content .content-top .details .selects .sel-three h4 {
        margin-left: 35px;
    }
    .content .content-top .details input {
        width: 70px;
        margin-right: 0px;
    }
}

.content .content-top .details .input {
    border: 1.5px solid #e7e7e7;
}

.content .content-top .details .inputs:after {
    content: ' ';
    background-repeat: no-repeat;
    padding: 0px 15.8px;
    background-color: #e7e7e7;
    cursor: pointer;
    background-image: url(./images/5.product/up.jpg);
    background-size: 100%;
    border: 1px solid #e7e7e7;
    position: relative;
    right: 33.9px;
    bottom: 7.6px;
}

.content .content-top .details .inputs:before {
    content: ' ';
    background-repeat: no-repeat;
    padding: 0px 15.8px;
    background-color: #e7e7e7;
    cursor: pointer;
    background-image: url(./images/5.product/down.jpg);
    background-size: 100%;
    border: 1px solid #e7e7e7;
    position: relative;
    left: 69.7px;
    top: 9px;
}

.content .content-top .details .sel-three .inputs input {
    padding: 10px;
    outline: none;
    border: 1px solid #e7e7e7;
}

@media screen and (min-width:500px) {
    .content .content-top .details .buttons .b-top {
        display: flex;
        justify-content: start;
    }
}

.content .content-top .details .buttons .b-top {
    padding-top: 15px;
}

.content .content-top .details .buttons .b-top input {
    display: none;
}

.content .content-top .details .buttons .b-top .cart {
    margin: 40px 0;
}

.content .content-top .details .buttons .b-top label {
    width: 100%;
    padding: 0;
}

@media screen and (min-width:500px) {
    .content .content-top .details .buttons .b-top .cart {
        margin-right: 20px;
    }
}

.content .content-top .details .buttons .b-top .p {
    padding: 25px 28px 21px 48px;
    text-transform: uppercase;
    background-color: #ffffff;
    border: 2px solid #454647;
    font-size: 16px;
    color: #454647;
    user-select: none;
    width: 100px;
}

.content .content-top .details .buttons .b-top .cart span {
    background-repeat: no-repeat;
    background-image: url(./images/5.product/cart-0.jpg);
    background-position-x: 10px;
    background-position-y: 25px;
}

.content .content-top .details .buttons .b-top .cart span:hover {
    background-image: url(./images/5.product/cart1.png);
    background-size: 20px 17px;
    color: #ffffff;
    background-color: #454647;
}

.content .content-top .details .buttons .b-top .cart span:active {
    border-color: #ffffff;
    background-position-x: 10px;
    background-position-y: 25px;
    border-color: #ffffff;
}

.content .content-top .details .buttons .b-top .lkbk {
    margin: 27px 0 30px;
}

.content .content-top .details .buttons .b-top .lkbk .p {
    padding: 23.5px 20px 22.5px;
}

.content .content-top .details .buttons .b-top .lkbk .p .span {
    margin-right: 10px;
    font-size: 24px;
    position: relative;
    top: 2px;
}

.content .content-top .details .buttons .b-top .lkbk .p:hover {
    color: #ffffff;
    background-color: #454647;
}

.content .content-top .details .buttons .b-top .lkbk .p:active {
    color: #ffffff;
    background-color: #454647;
    border: 0;
    margin: 1px;
    border-color: #ffffff;
    padding: 24.5px 21px 23.5px;
}

.content .content-top .details .buttons .b-b {
    font-size: 14px;
}

.content .content-top .details .buttons .b-b a {
    color: #454647;
}

.content .content-top .details .buttons .b-b a::before {
    content: '';
    background-image: url(./images/5.product/arrows1.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 6px 14px;
    background-color: black;
    border-radius: 100px;
    margin-right: 10px;
    cursor: pointer;
}

.content .content-top .details .buttons .b-b:hover a:before {
    background-color: #00c8c8;
}

.content .content-bottom .data .data-nav {
    width: 100%;
    background-color: #f8f8f8;
}

@media screen and (min-width:500px) {
    .content .content-bottom .data .data-nav {
        display: flex;
        justify-content: start;
    }
}

.content .content-bottom .data .data-nav a {
    color: #575153;
    min-width: 100px;
    height: 40px;
    background-color: transparent;
    font-size: 16px;
    text-align: center;
    text-align-last: center;
    margin: 10px 0;
    cursor: pointer;
}

@media screen and (min-width:500px) {
    .content .content-bottom .data .data-nav a {
        margin-right: 0px;
        padding: 20px 10px 20px 10px;
        text-align: center;
        min-width: 100px;
    }
    .content .content-bottom .data .data-nav p {
        padding: 20px 0px;
    }
}

@media screen and (min-width:1050px) {
    .content .content-bottom .data .data-nav a {
        padding: 20px 25px 20px 25px;
    }
    .content .content-bottom .data .data-nav p {
        padding: 20px 0px;
    }
}

.content .content-bottom .data .data-nav .first {
    margin-left: 0;
}

.content .content-bottom .data .data-nav a:hover {
    background-color: #333333;
    color: #ffffff;
}

.content .content-bottom .data-text h5 {
    padding-bottom: 20px;
    padding-top: 25px;
    font-size: 13px;
    text-transform: uppercase;
    color: #727272;
}

.content .content-bottom .data-text p {
    font-size: 15px;
    color: #727272;
}

.content .content-bottom .data-text .pp {
    padding-bottom: 30px;
}


/* ТЕЛ. */

@media screen and (max-width:500px) {
    .content {
        padding: 60px 5%;
    }
    .content .content-top .image-slider span {
        padding: 7.9px 10px;
    }
    .content .content-top .details .nav .m-1 {
        display: flex;
        justify-content: flex-start;
    }
    .content .content-top .details .nav .m-1 {
        padding-bottom: 10px;
    }
    .content .content-top .details select {
        width: 69%;
    }
    .content .content-top .details .selects h4 {
        padding: 15px 0;
    }
    .content .content-top .details input {
        position: relative;
        right: 33px;
        padding: 12px 39.8px 12px 10.2px;
        z-index: 1;
    }
    .content .content-top .details .inputs:after {
        background-size: 100%;
        border: 1px solid #e7e7e7;
        position: relative;
        right: 33.2px;
        bottom: 3.8px;
        z-index: 2;
    }
    .content .content-top .details .inputs:before {
        background-size: 100%;
        border: 1px solid #e7e7e7;
        position: relative;
        z-index: 2;
        left: 79.4px;
        top: 4.6px;
    }
    .content .content-top .details .buttons .b-top {
        padding: 30px 0;
        width: 100%;
    }
    .content .content-top .details .buttons .b-top .cart {
        margin-bottom: 80px;
    }
    .content .content-top .details .buttons .b-top .cart label span {
        padding-right: 19%;
        padding-left: 19%;
    }
    .content .content-bottom .data .data-nav p {
        text-align: center;
        padding: 5px;
    }
}