    @font-face {
        font-family: "Fallout";
        src: url(./fonts/fallout/fallout.ttf);
    }
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Fallout";
        user-select: none;
    }
    
    .main-table {
        border: 5px solid #111;
        background-image: url(./pics/field.jpg);
        background-size: 100%;
    }
    
    .audio-controler {
        padding: 14px;
        cursor: pointer;
        border: 2px solid #111;
        position: absolute;
        margin-top: 50px;
        right: 60px;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    
    .audio-controler:active {
        border-color: transparent;
        right: 60.5px;
        margin-top: 50.5px;
    }
    
    .audio-pause {
        background-image: url(./pics/clickplay.jpg);
    }
    
    .audio-play {
        background-image: url(./pics/clickpause.png);
    }
    
    .cube {
        padding: 50px;
        background-size: 100%;
        width: 50px;
        margin: 10px auto;
        background-image: url(./pics/cubeImg/00.png);
    }
    
    .cube1 {
        background-image: url(./pics/cubeImg/11.png);
    }
    
    .cube2 {
        background-image: url(./pics/cubeImg/22.png);
    }
    
    .cube3 {
        background-image: url(./pics/cubeImg/33.png);
    }
    
    .cube4 {
        background-image: url(./pics/cubeImg/44.png);
    }
    
    .cube5 {
        background-image: url(./pics/cubeImg/55.png);
    }
    
    .cube6 {
        background-image: url(./pics/cubeImg/66.png);
    }
    
    .cube7 {
        background-image: url(./pics/cubeImg/77.png);
    }
    
    .cube8 {
        background-image: url(./pics/cubeImg/88.png);
    }
    
    .repeat-controler {
        width: 32px;
        padding: 14px;
        cursor: pointer;
        border: 2px solid transparent;
        border-radius: 100px;
        position: absolute;
        right: 60px;
        background-repeat: no-repeat;
        background-position: center;
        color: rgb(60, 250, 0);
        max-height: 32px;
    }
    
    .repeat-controler:before {
        content: 'repeat this';
        position: relative;
        bottom: 18px;
        right: 60px;
        font-size: 12px;
    }
    
    .repeat-playlist-controler:before {
        content: 'repeat all';
    }
    
    .repeat-controler:active {
        border-color: #111;
    }
    
    .repeat-not-active {
        background-image: url(./pics/redbutton.png);
    }
    
    .repeat-active {
        background-image: url(./pics/powerbutton.png);
    }
    
    .repeat-playlist-controler {
        margin-top: 100px;
    }
    
    .next-track-button {
        background-image: url(./pics/nexttrackbutton.png);
        background-size: 100%;
        background-repeat: no-repeat;
        padding: 14px;
        cursor: pointer;
        border: 2px solid #111;
        position: absolute;
        margin-top: 150px;
        right: 60px;
    }
    
    .next-track-button:active {
        border-color: #333;
        border-radius: 3px;
        background-image: url(./pics/nexttrackbuttonclick.png);
    }
    
    .music-bar {
        margin: 0 20px;
        padding: 10px;
        border-radius: 10px;
        background-color: #333;
        border: 3px solid rgb(200, 180, 90);
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        max-height: 300px;
        overflow-y: auto;
        scroll-behavior: smooth;
    }
    
    .music-list p {
        border: 2.5px solid rgb(60, 60, 60);
        margin: 2px 0;
        padding-right: 4px;
        border-radius: 3px;
        background-color: rgb(35, 80, 140);
        color: #eee;
        font-style: oblique;
    }
    
    .music-bar .this-track {
        color: rgb(200, 180, 90)
    }
    
    .choose-music-button {
        padding: 2.4px 10px;
        background-image: url(./pics/littlebuttonoff.png);
        border-color: rgb(88, 0, 0);
        background-repeat: no-repeat;
        background-size: 220%;
        background-position: center;
        border-radius: 20px;
        margin-right: 10px;
        position: relative;
        top: 2px;
        left: 2px;
        cursor: pointer;
    }
    
    .choose-music-button:active {
        background-image: url(./pics/littlebuttonon.png);
    }
    
    .div-time-controler {
        position: sticky;
        top: 0px;
    }
    
    .time-controler-text {
        margin: 0 auto 5px;
        text-align: center;
        font-size: 16px;
        padding: 8px;
        border: 2px solid #222;
        width: 50px;
        box-sizing: content-box;
        border-radius: 10px;
        background-image: url(./pics/option-field.png)
    }
    
    .audio-time-controler {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 300px;
        height: 20px;
        background-image: url(./pics/scale.png);
    }
    
    .audio-time-controler::-webkit-slider-runnable-track {
        border: 1px solid #222;
    }
    
    .audio-time-controler::-webkit-slider-thumb {
        background-image: url(./pics/slider-button-off.png);
        cursor: pointer;
        width: 30px;
        height: 15px;
        -webkit-appearance: none;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    
    .audio-time-controler::-webkit-slider-thumb:active {
        background-image: url(./pics/slider-button-on.jpg);
    }
    
    .volume-range {
        position: sticky;
        top: 200px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-image: url(./pics/scale-volume.png);
        width: 120px;
        height: 20px;
    }
    
    .volume-range::-webkit-slider-runnable-track {
        border: 1px solid #222;
    }
    
    .volume-range::-webkit-slider-thumb {
        background-image: url(./pics/slider-button-off.png);
        cursor: pointer;
        width: 30px;
        height: 15px;
        -webkit-appearance: none;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    
    .volume-range::-webkit-slider-thumb:active {
        background-image: url(./pics/slider-button-on.jpg);
    }
    
    .header {
        font-size: 160px;
        margin: 20px;
        border: 3px solid #111;
        border-radius: 5px;
    }
    
    .main-section {
        margin: 20px;
        display: flex;
        justify-content: space-between;
    }
    
    .vault-symbol {
        background-image: url(./pics/vault-symbol.png);
        background-repeat: no-repeat;
        background-size: 100%;
        height: 300px;
        padding: 0 250px;
        margin-bottom: 50px;
    }
    
    .calendar-year,
    .calendar-month {
        border: 2px solid #111;
        padding: 20px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-evenly;
    }
    
    .events-table {
        height: 200px;
        border: 3px solid rgb(35, 80, 140);
        margin-bottom: 20px;
        background-color: #333;
        font-size: 36px;
        overflow-y: auto;
        scroll-behavior: smooth;
    }
    
    .events-table p {
        margin: 15px 20px;
    }
    
    .calendar-day table {
        width: 100%;
        background-color: rgb(200, 180, 90);
    }
    
    .calendar-tbody .td-calendar {
        padding: 18px 23px;
        border: 2px solid rgb(35, 80, 140);
        border-radius: 15px;
        font-size: 48px;
    }
    
    .calendar-tbody .td-calendar:active {
        border-color: transparent;
    }
    
    .calendar-tbody .today {
        background-color: rgb(35, 80, 140);
        color: rgb(200, 180, 90);
    }
    
    .calendar-tbody .today:hover {
        cursor: pointer;
    }
    
    .calendar-tbody .today:active {
        color: rgb(60, 250, 0);
    }
    
    .footer {
        font-size: 36px;
        border-top: 5px solid rgb(35, 80, 140);
        margin-top: 30px;
        padding: 20px;
        display: flex;
        justify-content: center;
    }
    
    .footer-arrows {
        font-size: 0;
        margin-right: 20px;
        width: 30px;
    }
    
    .footer-arrow-up {
        cursor: pointer;
        background-image: url(./pics/up.png);
        background-size: 100%;
        padding: 15px;
        background-repeat: no-repeat;
        position: relative;
        left: 1px;
        top: 4px;
        border: 2px solid black;
    }
    
    .footer-arrow-down {
        cursor: pointer;
        background-image: url(./pics/down.png);
        background-size: 100%;
        padding: 15px;
        background-repeat: no-repeat;
        position: relative;
        top: 34px;
        right: 33px;
        border: 2px solid black;
    }
    
    .footer-arrow-up:active,
    .footer-arrow-down:active {
        border-color: transparent;
    }
    
    .padding-0-50 {
        padding: 0 50px;
    }
    
    .green {
        color: rgb(60, 250, 0);
    }
    
    .day {
        border: 2px solid #111;
        margin-bottom: 20px;
        height: 120px;
        border-radius: 15px;
        width: 300px;
    }
    
    .day p {
        margin-top: 14px;
        height: 100px;
    }
    
    .day .active-day {
        padding-top: 10px;
        border: 5px solid rgb(35, 80, 140);
        border-top: 0;
        border-radius: 5px;
        background-color: rgb(35, 80, 140);
        color: rgb(60, 250, 0);
        margin-top: 8px;
    }
    
    .font-80 {
        font-size: 80px;
    }
    
    .font-100 {
        font-size: 100px;
    }
    
    .day:active {
        border-color: rgb(200, 180, 90);
    }
    
    .font-yellow {
        color: rgb(200, 180, 90);
    }
    
    .font-blue {
        color: rgb(35, 80, 140);
    }
    
    .back-yellow {
        background-color: rgb(200, 180, 90);
    }
    
    .back-blue {
        background-color: rgb(35, 80, 140);
    }
    
    .text-center {
        text-align: center;
    }
    
    @media screen and (max-width:1050px) {
        .header,
        .main-section {
            margin: 15px;
        }
        .main-section {
            display: block;
        }
        .vault-symbal {
            height: 430px;
        }
        .section-left {
            margin-bottom: 20px;
        }
    }
    
    @media screen and (min-width:1050px) {
        .section-left {
            width: 700px;
        }
        .section-right {
            width: 300px;
        }
    }