* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia;
}

body header{
    width: 100%;
}

body header .top  {
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 10px;
    background-color: #660000;
    color: #fcfcfc; 
}

@media screen and (min-width:500px) {
    body header .top  {
        padding: 25px 20px;
    }
}

body header .top .emb h2 a {
    font-size: 16px;
    text-decoration: none;
    color: #fcfcfc;
    font-weight: normal;
}

@media screen and (min-width:500px) {
    body header .top .emb h2 a {
        font-size: 32px;
    }
}

body header .top .emb p {
margin-top: 10px;
font-size: 12px;
}

body header .top .search .sline {
    display: flex;
    justify-content: flex-start;
}

body header .top .search .sfield {
    width: 250px;
    padding-bottom: 5px;
    font-size: inherit;
    outline: 0;
    border: 2px solid #fcfcfc;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 55px;
}

body header .top .search .sline a {
    color: #fcfcfc;
    font-size: 12px;
    text-decoration: none;
}

body header .top .search .sline a:after {
    content: 'SEARCH';
    position: relative;
    top: 7px;
    right: 12px;
    margin: 2px ;
    border: 1px solid #fcfcfc;
    border-radius: 5px;
    padding: 5px 7px;
    background-color: #660000;
}

body header .top .search .stext {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin:5px;
}

body header .top .search .stext a{
    font-size: 11px;
    text-decoration: none;
    color: #fcfcfc;
    margin-left: 5px;
}

body header .top .search .stext p:nth-child(1){
    margin-left: 50px;
}

body header .top .search .stext p:nth-child(1) a:after  {
content: '|';
margin-left: 5px;
}

body header .top .search .stext p:nth-child(2) a:after {
    content: '|';
    margin-left: 5px;
}

body header .topnav {
    padding: 5px;
    display: flex;
    justify-content: flex-start ;
    border-bottom: 2px solid #e7e7e7;
    margin-bottom: 100px;
    background-color: #fcfcfc;
    margin: 0;
}

body header .topnav button {
    font-size: 10px;
    margin: 5px;
    border: 0;
    text-transform: uppercase;
    outline: none;
    background-color: #fcfcfc;
    cursor: pointer;
    color: #660000;
    padding: 5px; 
    font-weight: bold;
}

@media screen and (min-width:500px) {
    body header .topnav button {
        font-size: 13px;
        margin: 5px;
        padding: 15px 10px; 
    }
}

body header .topnav button:active {
    color: #242424;
}

body header .topnav button.nl{
    border-right: 3px solid #e7e7e7;
}


@media screen and (min-width:500px) {
    main {
        padding: 25px 20px;  
    }
}


main .bord {
    margin-top: 20px;           
    border-bottom: 3px solid #b7b7b7;
}


@media screen and (min-width:500px) {
    main .featuring{
        display: flex;
        justify-content: space-between;
    }

    main .featuring .slider {
        width: 67%; 
    }
}

main .featuring .slider {
    background-color: #e7e7e7;
    padding: 15px;
    max-height: 400px;
}

main .featuring .slider .picture{
    display: flex;
    justify-content: space-evenly;
    align-content: flex-end;
    height: 300px;
    background-position: top;   
    background-repeat: no-repeat;
    background-image: url(./pic/1.png); 
    }
 
    @media screen and (min-width:1020px) {
        main .featuring .slider .picture .first {
            padding: 5px 10px;
            background-image: url(./pic/Transparent\ background.png);
            background-repeat: no-repeat;
            height: 90px;
            min-width: 600px;
            
        }
    }
    main .featuring .slider .picture .first {
        padding: 0px 5px;
        background-image: url(./pic/Transparent\ background.png);
        background-repeat: no-repeat;
        height: 90px;
        position: relative;
        bottom: -200px;
    }

    @media screen and (min-width:1020px) {
        main .featuring .slider .picture .slider-footer {
            font-size: 20px;
            margin-bottom: 8px;
        }
    }

main .featuring .slider .picture .slider-footer {
    font-size: 16px;
    color: #fcfcfc;
    margin: 3px 0px;
}

main .featuring .slider .picture .double {
color: #b7b7b7;
font-size: 14px;
margin-top: 2px;
}

main .featuring .slider .picture a {
    text-decoration: none;
    color: #ff4646;
    font-size: 14px;
}

main .slides {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

main .slides label {
    width: 18%;
    margin: 0 2px;
}

main .slides label input {
    display: none;
}

main .slides label span {
    margin-top: 5px;
    display: block;
    height: 62px;
    width: 102px;
    cursor: pointer;
}

main .slides label  span.first {
    background-repeat: no-repeat;
    background-image: url(./pic/5.png);
}

main .slides label  span.second {
    background-repeat: no-repeat;
    background-image: url(./pic/6.png);
}

main .slides label  span.third {
    background-repeat: no-repeat;
    background-image: url(./pic/7.png);
}

main .slides label  span.fourth {
    background-repeat: no-repeat;
    background-image: url(./pic/8.png);
}

main .slides label  span.fifth {
    background-repeat: no-repeat;
    background-image: url(./pic/9.png);
}

main .slides label input:checked + span {
    opacity: 0.75;
}

main .slides button{
    outline: 0;
    border: 0;
    padding: 0 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    cursor: pointer;
}


main .slides .left {  
background-image: url(./pic/Left\ Arrow.png);
margin-right: 1%;
}

@media screen and (min-width:1020px) {
    main .slides .left { 
        margin-right: 5%;
    }
}

main .slides .right {
    margin-left: 5%;
    background-image: url(./pic/Right\ Arrow.png);
}

@media screen and (min-width:500px) {
    main .featuring .rights {
        width: 32%;
        padding: 0 15px; 
    }
}

@media screen and (max-width:500px) {
    main .featuring .rights {
        padding-top:15px; 
    }
}


main .featuring .rights .r-one, .r-two,.r-three{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

main .featuring .rights .r-one .picture {
    height: 120px;
    width: 140px;
    background-image: url(./pic/2.png);
}

main .featuring .rights .r-two .picture {
    height: 120px;
    width: 140px;
    background-image: url(./pic/3.png);
}

main .featuring .rights .r-three .picture {
    height: 120px;
    width: 140px;
    background-image: url(./pic/4.png);
}

main .featuring .rights h3 {
    width: 60%;
    height: 120px;
    font-weight: lighter;
    background-color: #660000;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    text-align: center;
    padding: 0 10px;
    color: #fcfcfc;
}

@media screen and (min-width:1020px) {
    main .featuring .rights h3 {
        font-size: 16px;
        width: 220px;
    } 
}



ul {
    list-style-type: none;
}

@media screen and (min-width:500px) {
    .main-content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
}

.main-content {
    margin: 0 ;
    padding: 20px 0;
    margin-bottom: 2px;
}

@media screen and (min-width:500px) {
    .main-content .aside-content {
        width: 69%;
    }
}

@media screen and (min-width:1020px) {
    .main-content .aside-content .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.main-content .aside-content .top {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #d8d8d8;
}

@media screen and (min-width:1020px) {
    .main-content .aside-content .top div{    
        padding: 10px ;
        width: 32%;
    }
}

@media screen and (max-width:1020px) {
.main-content .aside-content .top div{    
    padding: 10px 10% ;
    border: 1px solid #d8d8d8;
}
}

.main-content .aside-content .top div ul {
    list-style-type: none;
} 

.main-content .aside-content .top div ul li a{
    text-decoration: none;
    color: #ff4646;
}

.main-content .aside-content .top div ul li a::before {
    content: '»';
    font-size: x-small;
    font-weight: bold;
    padding: 0 2px 0 12px;    
}

.main-content .aside-content .top .one figure {
    margin: 15px 0;
    background-image: url(./pic/10.png);
    background-position: center;
    background-repeat: no-repeat;
    min-width: 180px;
    min-height: 100px;
}

.main-content .aside-content .top .two figure  {
    margin: 15px 0;
    background-image: url(./pic/11.png);
    background-position: center;
    background-repeat: no-repeat;
    min-width: 180px;
    min-height: 100px;
}

.main-content .aside-content .top .three figure  {
    margin: 15px 0;
    background-image: url(./pic/12.png);
    background-position: center;
    background-repeat: no-repeat;
    min-width: 180px;
    min-height: 100px;
}

.main-content .aside-content .top figcaption {
padding-bottom: 20px;
color: #979797;
}


.main-content .aside-content .low {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 13px;
}

.main-content .aside-content .low .latest-news {
    width: 48%;
}

.main-content .aside-content .low .latest-news h4 {
    border-bottom: 1px solid #d8d8d8;
    font-weight: lighter;
    font-size: 16px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.main-content .aside-content .low .latest-news div {
    border-bottom: 1px solid #d8d8d8;
    margin-bottom: 15px;
}

.main-content .aside-content .low .latest-news p {
    padding-bottom: 15px;
    color: #979797;
}

.main-content .aside-content .low .latest-news p a {
    color: #ff4646;
    text-decoration: none;
}

.main-content .aside-content .low .take-tour {
    width: 48%;
}

.main-content .aside-content .low .take-tour h4 {
    text-transform: capitalize;
    font-weight: lighter;
    font-size: 16px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d8d8d8;
}

.main-content .aside-content .low .take-tour .v {
    height: 235px ;
    width: 100%;    
    outline: none;  
    background-color: #000000;
    
}

.main-content .aside-content .low .take-tour p {
color: #979797;
padding: 15px 0;  
}

.main-content .aside-content .low .take-tour a{
text-decoration: none;
color: #ff4646;
}

.main-content .aside-content .low .take-tour a::after {
    content: '»';
    font-size: x-small;
    font-weight: bold;
}


@media screen and (min-width:500px) {
    .main-content .right-column {
        width: 27%;
        font-size: 13px;
    }
}

.main-content .right-column .names {
    display: block;
}

.main-content .right-column .names a {
    text-decoration: none;
    color: #ff4646;
}

.main-content .right-column .names a::after{
    content: '»';
    font-size: x-small;
    font-weight: bold;
}

.main-content .right-column .names .first {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid #d8d8d8;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.main-content .right-column .names .first figure{
    border: 1px solid #d8d8d8;    
}

.main-content .right-column .names .first figure .pic {
    min-height: 80px;
    min-width: 80px;
    background-repeat: no-repeat;
    background-image: url(./pic/13.png);
    margin: 5px;
}

.main-content .right-column .names .first .text {
    width: 65%;
}


.main-content .right-column .names .second {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid #d8d8d8;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.main-content .right-column .names .second figure{
  border: 1px solid #d8d8d8;    
}

.main-content .right-column .names .second figure .pic {
    min-height: 80px;
    min-width: 80px;
    background-repeat: no-repeat;
    background-image: url(./pic/14.png);
    margin: 5px;
}

.main-content .right-column .names .second .text {
    width: 65%;
}

.main-content .right-column .names .text h4{
    font-weight: lighter;
    color: #979797;
    padding-bottom: 20px;
    font-size: 16px;
}

.main-content .right-column .names .text p{
    padding-bottom: 20px;
    color: #979797;
}

.main-content .right-column .most-popular {
    padding-bottom: 20px;
}


.main-content .right-column .most-popular h4 {
    font-size: 16px;
    font-weight: lighter;
    padding: 10px 0;
    margin: 10px 0;
    border-bottom: 1px solid #d8d8d8;
}

.main-content .right-column .most-popular p{
    padding-top: 15px;
}

.main-content .right-column .most-popular a{
    text-decoration: none;
    color: #ff4646;
}

.main-content .right-column .most-popular a:before {
    content: '»';
    font-size: x-small;
    font-weight: bold;
}

.calendar {
    font-size: 13px;
}

.calendar .top-calend h4 {    
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    font-weight: lighter;
    font-size: 16px;
    width: 100%; 
    padding-bottom: 10px;
    margin: 10px 0;
    border-bottom: 1px solid #d8d8d8;
}

.calendar .top-calend input {
  display: none;  
}

.calendar .top-calend label:active {
opacity: 0.8;
}

.calendar .top-calend .left-button{
    padding: 15px 22px;
    margin-left: 2px;
    border: 1px solid #d8d8d8;
    background-position: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-content: center;
    background-repeat: no-repeat;
    background-image: url(./pic/Left\ Arrow2.png);
}

.calendar .top-calend .right-button{
    padding: 15px 22px;
    margin-right: 2px;
    border: 1px solid #d8d8d8;
    background-position: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-content: center;
    background-repeat: no-repeat;
    background-image: url(./pic/Right\ Arrow2.png);
}

.calendar .top-calend .month-year{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.calendar .days {
    padding: 10px 0;
    background: #ffffff;
}

.calendar .days .weekdays  {
    margin: 0;
    background-color:#ffffff;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
          
}

.calendar .days .weekdays li {
    border: 0;
    display: flex;
    justify-content: space-around;
    min-width: calc( 100% / 7 ); 
    padding: 4px 15px;
    color: #333333;
}



.calendar  .day li {
    border: 1px solid #d8d8d8;
    list-style-type: none;
    width: calc( 100% / 7 - 5px);
    text-align: center;
    margin-left: 3px;
    margin-bottom: 5px;
    font-size:13px;
    padding: 7px 0;
    color: #333333;
    margin: 1.5px ; 
}

.calendar .days .day .week {
   display: flex;
   justify-content: space-between;
}

.calendar .days .day .non {
    border: 0px;   
}

.calendar .days .day li.active {
    padding: 7px 5px;
    background-color:#d8d8d8; 
}




footer .border {
    border-top: 1px solid #660000;
    padding-top: 1px;
    
}

footer .main{
    background-color: #660000;
    padding: 0 20px;
    color : white;
}

footer .main .hight {
    display: flex;
    justify-content: space-between;
    align-items: initial;
    padding : 20px 0;
    border-bottom: 1px solid white;
    
}

footer .main .hight .left h3 {
text-transform: capitalize;
font-weight: lighter;
font-size: 22px;
padding: 20px 0 30px 0;
}

footer .main .hight .left p {
    margin-bottom: 5px;
}

footer .main .hight .left a {
    text-decoration: none;
    color: white;   
}

footer .main .hight .left {
    font-size: 13px;
}

footer .main .hight .left .top{
    padding-bottom: 30px;
}

footer .main .footers{
    font-size: 13px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width:1020px) {
    footer .main .buttons .first-line  {
        display: flex;
        justify-content: flex-start;
        align-items: center;   
        padding: 20px 0;
    }
}

footer .main .buttons .first-line  {
    width: 100%;
    min-width: 250px;
}

@media screen and (max-width:500px) {
    footer .main .buttons .first-line  {    
        padding-left: 25px;
    }
}

@media screen and (min-width:1020px) {
    footer .main .buttons .second-line  {
        display: flex;
        justify-content: flex-end;
        align-items: center;  
        padding: 20px 0;
    }
}

@media screen and (max-width:500px) {
    footer .main .buttons .second-line  {    
        padding-left: 25px;
    }
}

footer .main .buttons .second-line  {    
    width: 100%;
}

@media screen and (min-width:1020px) {
    footer .main .buttons label  {
        margin-left:50px ;
    }
}

@media screen and (max-width:1020px) {
    footer .main .buttons label  {
        margin-right:50px ;
        margin-bottom: 20px;
    }
}

footer .main .buttons label  {
    background-color: #500000;
    width: 300px;
    height: 80px;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@media screen and (max-width:500px) {
    footer .main .buttons label  {
        width: 150px;
    }
}

footer .main .buttons label:active  {
    border: 1px solid black;
    height: 80px;
    width: 300px;
}


footer .main .buttons label span {
    font-size: 22px;
}

footer .main input {
    display: none;
}

footer .main .footers {
padding: 20px 0;   
}